@page "/Users_Records"
@using SEP3_Blazor_App.Models
@using SEP3_Blazor_App.Data.Services.User

@inject IUserService UserService
@attribute [Authorize(policy:"doctor")]

<h3>Users Records</h3>

<div class="row">
        <div class="col-md-6 mb-4">
            <form class="form-inline md-form mr-auto">
                <input class="form-control mr-sm-2" type="text" placeholder="Enter Patient CPR Nb" @bind-value="userId" /> 
                <a href="users_records" @onclick="ReloadCases"> Search </a>
            </form>
        </div>
    </div>
    <br />
    <h2>Patient Information</h2><hr />
    <div class="row">
            <div class="col-6">
                <label>First Name:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
            <div class="col-6">
                <label>Last Name:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
    </div>
    <div class="row">
            <div class="col-4">
                <label>Gender:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
            <div class="col-4">
                <label>Phone Number:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
            <div class="col-4">
                <label>Email:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
    </div>
    <div class="row">
            <div class="col-6">
                <label>Date of Birth:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
            <div class="col-6">
                <label>Age:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
    </div>
    <div class="row">
            
            <div class="col-12">
                <label>Address:</label>
                <input type="text" class="form-control" disabled="disabled" value="" />
            </div>
    </div>
<hr />
    <h2>Medical History</h2>
    <div class="row">
        <div class="col-6">
            <label>Patients Diagnosed With:</label>
            <input type="text" class="form-control" disabled="disabled" value="" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <label>Cases History:</label>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Case</th>
                    </tr>
                </thead>
                <tbody>
                    @if (caseList == null)
                                {
                                    <text>Loading...</text>
                                }
                                else if (caseList.Count == 0)
                                {
                                    <text>No records found.</text>
                                }
                                else
                                {
                                    @foreach (var _case in caseList)
                                    {
                                        <tr>
                                            <td>@_case.Date</td>
                                            <td>@_case.Casedata</td>
                                        </tr>
                                    }
                                }
                </tbody>
            </table>
        </div>
    </div>
    <br />
@code {
    private String userId;
    private Case _case;
    private List<Case> caseList = new List<Case>();
    public string AddMessage { get; set; }

    private async Task ReloadCases()
    {
        caseList = await UserService.GetCasesForSpecificUser(userId);
    }
    

}