@page "/Users_Records"
@using SEP3_Blazor_App.Models
@using SEP3_Blazor_App.Data.Services.User

@inject IUserService UserService
@attribute [Authorize(policy:"doctor")]

<h3>Users Records</h3>

<div class="row">
        <div class="col-md-6 mb-4">
            <form class="form-inline md-form mr-auto">
                <input class="form-control mr-sm-2" type="text" placeholder="Enter Patients CPR Nb" @bind-value="userId" /> 
                <a href="users_records" @onclick="LoadData"> Search </a>
            </form>
        </div>
    </div>
    <br />
    <h2>Patient Information</h2><hr />
    <div class="row">
            <div class="col-6">
                <label>First Name:</label>
                <input type="text" class="form-control" disabled="disabled" @bind-value="user.FirstName" />
            </div>
            <div class="col-6">
                <label>Last Name:</label>
                <input type="text" class="form-control" disabled="disabled" @bind-value="user.LastName" />
            </div>
    </div>
    <div class="row">
    <div class="col-4">
        <label>Gender:</label>
        <input type="text" class="form-control" disabled="disabled" @bind-value="user.PhoneNb" />
    </div>
    </div>
    <hr />
<label>Medical History:</label>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Case</th>
                    </tr>
                </thead>
                <tbody>
                    @if (caseList == null)
                                {
                                    <text>Loading...</text>
                                }
                                else if (caseList.Count == 0)
                                {
                                    <text>No records found.</text>
                                }
                                else
                                {
                                    @foreach (var _case in caseList)
                                    {
                                        <tr>
                                            <td>@_case.Date</td>
                                            <td>@_case.Casedata</td>
                                        </tr>
                                    }
                                }
                </tbody>
            </table>
@code {
    private String userId;
    private User user = new User();
    private Case _case;
    private List<Case> caseList = new List<Case>();
    public string AddMessage { get; set; }

    private async Task LoadData()
    {
        user = await UserService.LoadData(userId);
        caseList = await UserService.GetCasesForSpecificUser(userId);
    }

}